/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Poiret+One&display=swap');

body,
button {
    font-family: "Poiret One", "Gill Sans", sans-serif;
}

h1,
h2,
#correctness-result,
#result-score {
    font-family: Lobster, Times, serif;
}

.question-type,
.song-title,
.quiz-option-answer,
.correct-answer {
    font-family: Oswald, "Gill Sans", sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #3e3e3e url("../images/background.jpg") no-repeat fixed center/cover;
}

/* any div where items need to be vertically centered */
#content-wrapper, /* the entire page content */
#game-wrapper, /* the game - all content except for the header and footer */
#mode-wrapper, /* the game mode div - question and game mode buttons */
#start-game-wrapper,
.score-section, /* each score section - the score label (e.g. "correct") and score underneath */
#result-wrapper, /* the result div */
#correct-answer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BUTTONS */

.control-button {
    background-color: transparent;
    padding: 8px;
    margin: 5px;
    border: 1px solid;
    border-radius: 3px;
    font-size: .9rem;
}

.control-button:hover {
    background-color: #ee1d25;
    border: #ee1d25 1px solid;
    color: white;
}

/* HEADER AND FOOTER */

header,
footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
}

header {
    height: 120px;
}

#rolling-stone-logo {
    width: 320px;
    align-self: center;
}

h1 {
    display: inline-block;
    margin-left: 20px;
    font-size: 2em;
}

footer {
    height: 50px;
    align-items: center;
}

footer p {
    font-weight: 700;
}

/* CONTENT AND GAME WRAPPER */

#content-wrapper {
    /* window height minus header and footer heights */
    min-height: calc(100vh - 170px);
}

#game-wrapper {
    width: 60%;
    background-color: rgba(255, 255, 255, .8);
    margin: 40px;
    padding: 15px;
}

/* INSTRUCTIONS */

#instructions-wrapper {
    text-align: center;
}

#welcome-heading {
    margin-top: 10px;
}

/* GAME MODE */

#game-modes-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.game-mode {
    width: 30%;
    text-align: center;
}

.mode-button {
    font-size: 1.2rem;
    padding: 10px;
}

/* START GAME */

#start-quiz-button {
    margin-top: 25px;
}

#select-mode-alert {
    color: green;
    display: none;
}

/* ACTIVE GAME WRAPPER */

#active-game-wrapper {
    display: none;
    width: 85%;
}

/* SCORE */

#score-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.score-label {
    font-family: Lobster, serif;
}

/* QUIZ */

#quiz-question {
    text-align: center;
}

#quiz-options-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.quiz-option {
    display: flex;
    align-items: center;
}

.quiz-button {
    border: none;
    background-color: transparent;

    /* make button 60x60 for when icon gets larger on click */
    height: 60px;
    width: 60px;

    /* position the icons in the centers of the buttons */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-option-answer {
    margin-left: 10px;
}

.vinyl-button-icon {
    height: 50px;
    transition: transform 1s;
}

.vinyl-button-icon:hover{
    transform: rotate(360deg);
}

/* CONTROL BUTTONS */

#quiz-controls-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#next-question-button {
    display: none;
}

/* SELECT OPTION ALERT */

#select-option-alert {
    color: green;
    text-align: center;
    display: none;
}

/* CORRECT ANSWER */

#correct-answer-wrapper {
    display: none;
    margin-bottom: 20px;
}

#correctness-result {
    font-size: 1.5rem;
    margin: 0;
}

#correct-answer-display {
    display: none;
    text-align: center;
    margin-bottom: 0;
}

/* RESULT */

#result-wrapper {
    display: none;
}

#end-message {
    font-size: 2.5em;
    margin: 0;
}

#result-text {
    margin: 30px 0;
}

/* RESPONSIVENESS */

/* tablet screen sizes */
@media (max-width: 768px) {

    /* HEADER AND FOOTER */

    #rolling-stone-logo {
        width: 250px;
    }

    h1 {
        font-size: 1.8em;
    }

    footer {
        font-size: .9rem;
    }

    /* GAME WRAPPER */

    #game-wrapper {
        width: 75%;
    }
}

/* break point added as header needs to be collapsed sooner than rest of page */
@media (max-width: 630px) {

    /* HEADER AND FOOTER */

    header {
        flex-direction: column;
        justify-content: center;
    }

    #rolling-stone-logo {
        width: 150px;
    }

    h1 {
        font-size: 1.4em;
        text-align: center;
        margin: 5px 0 0 0;
    }

    footer {
        font-size: .8rem;
    }
}

/* earlier break point because game mode buttons pushing off edge of page */
@media (max-width: 570px) {

    /* GAME MODE */

    #game-modes-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .game-mode {
        width: 80%;
        margin: 15px 0;
    }
}

/* mobile screen sizes */
@media (max-width: 425px) {

    /* ACTIVE GAME WRAPPER */

    #active-game-wrapper {
        width: 90%;
    }

    /* QUIZ */

    #quiz-options-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    .quiz-option {
        display: flex;
        align-items: center;
    }
}