/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poiret+One&display=swap');

body,
button {
    font-family: "Poiret One", "Gill Sans", sans-serif;
}

body {
    background: #3e3e3e url("../images/background.jpg") center/cover no-repeat;
    min-height: 100vh;
}

h1,
h2,
.question-type,
.song-title,
#correctness-result,
.correct-answer,
#result-score {
    font-family: Lobster, Times, serif;
}

/* any div where items need to be vertically centered */
#content-wrapper, /* the entire page content */
#game-wrapper, /* the game - all content except for the heading */
#mode-wrapper, /* the game mode div - question and game mode buttons */
#start-game-wrapper,
.score-section, /* each score section - the score label (e.g. "correct") and score underneath */
#result-wrapper, /* the result div */
#correct-answer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BUTTONS */

.control-button {
    background-color: transparent;
    padding: 5px;
    margin: 5px;
    border: 1px solid;
    border-radius: 3px;
}

.control-button:hover {
    background-color: rgb(238, 29, 37);
    color: white;
}

/* HEADING */

#heading {
    display: flex;
    justify-content: center;
}

#rolling-stone-logo {
    width: 35vw;
    align-self: center;
}

h1 {
    display: inline-block;
    margin-left: 20px;
    font-size: 2.3em;
}

/* GAME WRAPPER */

#game-wrapper {
    width: 60%;
    background-color: rgba(255, 255, 255, .8);
    min-height: 60vh;
}

/* START GAME */

#select-mode-alert {
    color: green;
    display: none;
}

/* ACTIVE GAME WRAPPER */

#active-game-wrapper {
    display: none;
}

/* SCORE */

#score-wrapper {
    display: flex;
    justify-content: center;
}

.score-label {
    font-family: Lobster, serif;
}

/* QUIZ */

#quiz-options-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.quiz-option {
    display: flex;
    align-items: center;
}

.quiz-button {
    border: none;
    background-color: transparent;

    /* make button 60x60 for when icon gets larger on click */
    height: 60px;
    width: 60px;

    /* position the icons in the centers of the buttons */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-option-answer {
    margin-left: 10px;
}

.vinyl-button-icon {
    height: 50px;
    transition: transform 1s;
}

.vinyl-button-icon:hover{
    transform: rotate(360deg);
}

/* CONTROL BUTTONS */

#quiz-controls-wrapper {
    display: flex;
    justify-content: center;
}

#next-question-button {
    display: none;
}

/* CORRECT ANSWER */

#correct-answer-wrapper {
    display: none;
}

#correctness-result {
    font-size: 1.5rem;
}

#correct-answer-display {
    display: none;
}

/* RESULT */

#result-wrapper {
    display: none;
}